# UI dependencies
st_pages
streamlit
Pillow

# Data & ML dependencies
pandas
numpy
sentence-transformers
scikit-learn
faiss-cpu

# Scraping dependencies
httpx
beautifulsoup4
lxml
tqdm
tenacity
python-dotenv